*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-weight: 400;
  line-height: 1.7;
  color: black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #B2FEFA;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#0ED2F7), to(#B2FEFA));
  background: -webkit-linear-gradient(left, #0ED2F7, #B2FEFA);
  background: -o-linear-gradient(left, #0ED2F7, #B2FEFA);
  background: linear-gradient(to right, #0ED2F7, #B2FEFA);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 610px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 430px) {
    html {
      font-size: 40%; } }
  @media only screen and (max-width: 360px) {
    html {
      font-size: 30%; } }

.home {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .home h1 {
    font-size: 3rem;
    color: white; }

.question {
  /*
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    */
  display: none; }
  .question h1 {
    font-size: 3rem;
    color: white; }

.question-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.question-title {
  -ms-flex-item-align: center;
  align-self: center; }

.center-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.h1-center-large {
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto; }

.home-button {
  background-color: #e8f804;
  /* Green */
  border: none;
  color: black;
  padding: 1.2rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  border-radius: 5rem;
  cursor: pointer; }

.home-button:hover {
  -webkit-transform: translateY(-0.3rem);
  -ms-transform: translateY(-0.3rem);
  transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }
  .home-button:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    -ms-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6); }

.margin-bottom {
  margin-bottom: 5rem; }

.answer-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.button-center {
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem; }

.btn {
  padding: 2rem;
  width: 49.3%;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  border-radius: 12px; }
  @media only screen and (max-width: 850px) {
    .btn {
      padding: 2rem;
      width: 49.2%; } }
  @media only screen and (max-width: 610px) {
    .btn {
      padding: 2rem;
      width: 48%; } }

.btn-blue {
  background-color: #00378E;
  border: 1px solid #00378E;
  margin-bottom: 3px;
  margin-top: 10px;
  margin-left: 6px; }

.btn-blue:hover {
  background-color: #020a44; }

.btn-red {
  background-color: #C90F26;
  border: 1px solid #C90F26;
  margin-left: 6px; }

.btn-red:hover {
  background-color: #a50320; }

.btn-orange {
  background-color: #F77B00;
  border: 1px solid #F77B00; }

.btn-orange:hover {
  background-color: #db8008; }

.btn-green {
  background-color: #0cc90f;
  border: 1px solid #0cc90f; }

.btn-green:hover {
  background-color: #09a50c; }

.home-img {
  width: auto;
  height: 67vh;
  padding-bottom: 1rem; }

.img-question {
  height: 60vh;
  width: 100vh;
  -ms-flex-item-align: center;
  align-self: center; }
  @media only screen and (max-width: 850px) {
    .img-question {
      padding: 2rem;
      width: 85%;
      height: auto; } }
  @media only screen and (max-width: 610px) {
    .img-question {
      width: 85%;
      height: auto; } }
  @media only screen and (max-width: 430px) {
    .img-question {
      padding: 0rem;
      width: auto;
      height: 35vh; } }

.right-gif {
  height: 60vh;
  width: auto;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 850px) {
    .right-gif {
      width: 75%;
      height: auto; } }

.center-gif-end {
  height: 50vh;
  width: auto;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 610px) {
    .center-gif-end {
      width: 75%;
      height: auto; } }

.wrong-gif {
  height: 40vh;
  width: auto;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 610px) {
    .wrong-gif {
      width: 75%;
      height: auto; } }

nav {
  height: 7vh;
  width: 100%;
  background-color: #f5f109;
  font-size: 3rem; }
  nav h1 {
    font-size: 3rem;
    color: grey; }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.title {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 13rem;
  line-height: 7vh; }
  @media only screen and (max-width: 850px) {
    .title {
      margin-left: 2rem;
      margin-right: auto;
      left: 0; } }

.points {
  padding-right: 3rem;
  line-height: 7vh; }
  @media only screen and (max-width: 850px) {
    .points {
      margin-left: auto; } }
  @media only screen and (max-width: 430px) {
    .points {
      margin-left: none;
      padding-right: 5px;
      margin-left: 2rem; } }

td, th {
  border: 1px solid #a39f9f;
  text-align: left;
  padding: 1rem; }

.answer {
  display: none; }

table {
  border-collapse: collapse;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh; }

th {
  background-color: #05ee38;
  font-size: 2rem; }

td {
  background-color: #063ceb;
  color: white;
  font-size: 1.8rem; }
