.home{
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;

    & h1{
        font-size:3rem;
        color:white;
    }
}

.question{
    
    /*
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    */
    display:none;

    & h1{
        font-size:3rem;
        color:white;
    }
}

.question-container{
  display:flex;
  flex-direction:column;
  
}

.question-title{
  align-self: center;
}

.center-div{
    width:100%;
    display:flex;
    flex-direction:column;
}

.h1-center-large{
    font-size: 3rem;
    margin-left:auto;
    margin-right:auto;
}