.home-button{
    background-color: rgb(232, 248, 4); /* Green */
    border: none;
    color: black;
    padding: 1.2rem 3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    border-radius: 5rem;
    cursor: pointer;
}

.home-button:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 .5rem 2rem rgba(black, 0.2);

    &::after{
        transform: scaleX(1.4) scaleY(1.6);
    }
}

.button-center{
    width:47rem;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.margin-bottom{
    margin-bottom: 5rem
}