.home-img{
    width: auto;
    height: 67vh;
    padding-bottom: 1rem; 
}

.img-question{
  height: 60vh;
  width:100vh;
  align-self:center;

    @include respond(tab-port){
        padding: 2rem;
        width: 85%;
        height:auto;
    }

    @include respond(phone){
        width: 85%;
        height:auto;    
    }

    @include respond(small-phone){
        padding: 0rem;
        width: auto;
        height:35vh;
    }
}

.right-gif{
    height: 60vh;
    width:auto;
    margin-left:auto;
    margin-right:auto;

    @include respond(tab-port){
        width: 75%;
        height:auto;
    }
}

.center-gif-end{
    height: 50vh;
    width:auto;
    margin-left:auto;
    margin-right:auto;

    @include respond(phone){
        width: 75%;
        height:auto;
    }
}

.wrong-gif{
    height: 40vh;
    width:auto;
    margin-top: 2vh;
    margin-left:auto;
    margin-right:auto;

    @include respond(phone){
        width: 75%;
        height:auto;
    }
}

