 td, th {
    border: 1px solid rgb(163, 159, 159);
    text-align: left;
    padding: 1rem;
}

.answer{
    display:none;
}

table{
    border-collapse:collapse; 
    width: 60%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5vh;
}

th{
    background-color:rgb(5, 238, 56);
    font-size: 2rem;
}
td{
    background-color:rgb(6, 60, 235);
    color:white;
    font-size: 1.8rem;
}